## Importing modules

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

#reading data from file

In [271]:
data = pd.read_csv('weather.csv')

data.head()

,EnglishDate,NepaliDate,Max,Min,Wind,Rain,Humidity,Cloud,Pressure
0,1/1/2009,17/09/2065,19 °c,6 °c,9 km/hS,0.0 mm,51%,2%,1014 mb
1,1/1/2010,17/09/2066,18 °c,8 °c,12 km/hSE,0.0 mm,36%,10%,1013 mb
2,1/1/2011,17/09/2067,15 °c,4 °c,7 km/hSSE,0.5 mm,48%,42%,1015 mb
3,1/1/2012,17/09/2068,11 °c,2 °c,7 km/hESE,0.1 mm,48%,3%,1011 mb
4,1/1/2013,17/09/2069,17 °c,7 °c,7 km/hE,0.0 mm,44%,1%,1020 mb

In [307]:
import datetime as dt
data1 =data.copy()

data1[['Day', 'Month', 'Year']] = data1['EnglishDate'].str.split('/', expand=True)
data1.drop(['NepaliDate'], axis=1, inplace=True)

# data1.sort_values(by=['Year', 'Month', 'Day'], inplace=True)
data2 = data1[['Max','Min','Wind','Humidity','Cloud','Pressure','Year', 'Month', 'Day']].copy()
for i in data2.columns:
     data2[i] = data2[i].replace('[^\d.]', '', regex=True).astype(float)

# data1['EnglishDate'] = pd.to_datetime(data1['EnglishDate'],format='%d/%m/%Y')

In [308]:
print(len(data2))
data2.drop_duplicates()
print(len(data2))


data2.head()

34275
34275

    Max  Min  Wind  Humidity  Cloud  Pressure    Year  Month  Day
0  19.0  6.0   9.0      51.0    2.0    1014.0  2009.0    1.0  1.0
1  18.0  8.0  12.0      36.0   10.0    1013.0  2010.0    1.0  1.0
2  15.0  4.0   7.0      48.0   42.0    1015.0  2011.0    1.0  1.0
3  11.0  2.0   7.0      48.0    3.0    1011.0  2012.0    1.0  1.0
4  17.0  7.0   7.0      44.0    1.0    1020.0  2013.0    1.0  1.0

In [309]:
# i =len(data1)
# while i<0:
#     if data1.loc[i]==data1.loc[i-1]:
#         data1.drop(data1.loc[i-1],inplace=True)
#     i=i-1

Spliting levels and feathers

In [310]:
# x = data[['Max','Min','Wind','Humidity','Cloud','Pressure','Year', 'Month', 'Day']].copy()
# y = data[['Rain']].copy()

Cleaning the data

In [311]:
# for i in x.columns:
#     x[i] = x[i].replace('[^\d.]', '', regex=True).astype(float)

# for i in y.columns:
#     y[i] = y[i].replace('[^\d.]', '', regex=True).astype(float)

Spliting the data in test and train

In [312]:

# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

Teasting linear model algorithm

In [313]:
# from sklearn.linear_model import LinearRegression
# clf = LinearRegression()
# clf.fit(x_train, y_train)

# y_pred = clf.predict(x_test)

checking the error

In [314]:
# from sklearn.metrics import mean_squared_error
# from math import sqrt
# msqm1 = mean_squared_error(y_test, y_pred)
# rmsqm1 = sqrt(msqm1)
# print(rmsqm1)

In [315]:
# from sklearn.model_selection import cross_val_score
# score = cross_val_score(clf, x_train, y_train, cv=15,scoring='neg_mean_squared_error')
# print(score)
# score1 = sqrt(-score.mean())
# print(score1)

In [316]:
# from sklearn.tree import DecisionTreeRegressor
# clf2 = DecisionTreeRegressor()
# clf2.fit(x_train, y_train)
# y_pred2 = clf2.predict(x_test)
# msqm2 = mean_squared_error(y_test, y_pred2)
# rmsqm2 = sqrt(msqm2)
# print(rmsqm2)

In [317]:
# score2 = cross_val_score(clf2, x_train, y_train, cv=15,scoring='neg_mean_squared_error')
# print(score2)
# score3 = sqrt(-score2.mean())
# print(score3)

In [318]:
# from sklearn.ensemble import RandomForestRegressor
# clf3 = RandomForestRegressor()
# clf3.fit(x_train, y_train)
# y_pred3 = clf3.predict(x_test)
# msqm3 = mean_squared_error(y_test, y_pred3)
# rmsqm3 = sqrt(msqm3)
# print(rmsqm3)